main, h1{ 
  color: orangered;
  padding: 1em;}

html{
  background-color: lightgray;
}

header li{
  list-style-type:none;
}

img{

  box-shadow: 5px 5px 5px black;
  border-radius: 15%;
  height: 10rem;
  width: auto;
}

main p{

  color: orangered;
  background-color: gainsboro;
}


main li{
  box-shadow: 10px 5px 5px black;
  list-style-type: none;
  border: thin solid black;
  padding: 1em;
  background-color: gainsboro;
}

footer{
  border: thin solid black;
}
